<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Password recovery -->
            <form name="userForm" role="form" ng-submit="" ng-if="!vm.showMessage">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                        <h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="email" ng-model="vm.Email" required
                               ng-pattern="/^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$/"
                               class="form-control" placeholder="Your email">
                        <div class="form-control-feedback">
                            <i class="icon-mail5 text-muted"></i>
                        </div>
                    </div>
                    <button type="submit" ng-click="vm.resetPassword()" ng-disabled="(!userForm.$valid) || vm.loading" class="btn bg-blue btn-block">Reset password <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
            <!-- /password recovery -->

            <div ng-if="vm.showMessage">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                        <h5 class="content-group">Check your email. We sent you a link to reset your password.</h5>
                    </div>

                    <div class="form-group has-feedback">
                    </div>
                    <button type="submit" ng-click="vm.resetForm()" class="btn bg-blue btn-block">I did not receive the email <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
        <!-- /content area -->
    </div>
</div>