<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Password recovery -->
            <form name="registerForm">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                        <h5 class="content-group">FINDING DEEP MEANING IN THE ACT OF SERVING</h5>
                    </div>

                    <div class="form-group has-feedback">
                        <input ng-model="vm.user.UserFullName" type="text" class="form-control" placeholder="Member" ng-disabled="true">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <input ng-model="vm.user.UserEmailAddress" type="email" required name="UserEmailAddress" class="form-control" ng-disabled="true">
                        <div class="form-control-feedback">
                            <i class="icon-mail5 text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group has-feedback">

                        <input type="password" name="Password"
                               required
                               disallow-spaces
                               autocomplete="off"
                               ng-model="vm.user.Password"
                               ng-pattern="/^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{6,}$/"
                               placeholder="New Password"
                               class="form-control">
                        <div ng-messages="registerForm.Password.$error" ng-if="registerForm.Password.$touched" ng-messages-multiple="ng-messages-multiple" style="color:red;">
                            <div ng-message="required" style="color:red;">This is required.</div>
                            <div ng-message="pattern" style="color:red;">
                                This is not strong password at least(capital letter + number + special charachter like $ or #)
                            </div>
                        </div>
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>


                    <div class="form-group has-feedback">
                        <input type="password" name="confirmPassword" autocomplete="off"
                               required
                               ng-model="vm.user.confirmPassword"
                               disallow-spaces
                               match-password="Password"
                               ng-pattern="/^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{6,}$/"
                               placeholder="Confirm Password"
                               class="form-control">
                        <div ng-messages="registerForm.confirmPassword.$error"
                             ng-if="registerForm.confirmPassword.$touched"
                             ng-messages-multiple="ng-messages-multiple" style="color:red;">
                            <div ng-message="required" style="color:red;">This is required.</div>
                            <div ng-message="pattern" style="color:red;">
                                This is not strong password at least(capital letter + number + special charachter like $ or #)
                            </div>
                            <div ng-message="passwordMatch" class="message slide-left" style="color:red;">Your passwords did not match</div>
                        </div>
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>


                    <button type="submit" ng-click="vm.reset()" ng-disabled="(!registerForm.$valid) || vm.loading" class="btn bg-blue btn-block">Reset<i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
            <!-- /password recovery -->

            <div ng-if="vm.showMessage">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                        <h5 class="content-group">Check your email. We sent you a link to reset your password.</h5>
                    </div>

                    <div class="form-group has-feedback">
                    </div>
                    <button type="submit" ng-click="vm.reset()" class="btn bg-blue btn-block">I did not receive the email <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
        <!-- /content area -->
    </div>
</div>